<section class="container mt-5">
	<div class="center">
    <!-- SE SACO EL FOR PORQUE CADA VEZ QUE SE RENDERIZABA LA PAGINA SE CARGABA TODO LO QUE SE ENCONTRABA DENTRO-->
    <!-- IZQ START -->
      <div class="pokedex left">
          <div style="display: flex; justify-content: space-between;">
            <div class="circle"></div>
            <div class="rectangle pt-3 text-center center">
              <span style="font-size:20px; margin-bottom: 14px;">{{pokemonName | titlecase}}</span>
            </div>
          </div>
          <div class="grey-rectangle">
            <div class="black-rectangle p-2">
            <p class="mb-0 white">ID: #{{pokemonID}}</p>
            <div class="center">
              <img class="pokemon-img" src={{pokemonFront}} />
              <img class="pokemon-img" src={{pokemonBack}} />
            </div>
            </div>
          </div>

        <!-- BOTONES IZQ START-->
        <div class="center mt-3">
          <div class="center bttn-container">
            <button mat-icon-button type="button" (click)="previuosPokemon()">
              <mat-icon class="icon-size">chevron_left</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="nextPokemon()" >
              <mat-icon class="icon-size">chevron_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="center mt-4">
          <button type="button" class="btn btn-warning" (click)="getRandomPokemon()">Random Pokemon</button>
        </div>
        <!-- BOTONES IZQ END -->
      </div>
    <!-- IZQ END -->

    <!-- DERECHA START -->
    <div class="pokedex right">
      <div style="display: flex; justify-content: space-between;">
        <div class="black-rectangles white">
          <span>Peso:</span>
          <p class="text-center">{{weightInKilos}} kg</p>
        </div>
        <div class="black-rectangles white">
          <span>Altura:</span>
          <p class="text-center">{{heightInMeters}} m</p>
        </div>
      </div>

        <!-- POKEMON TYPES START -->
        <div class="types-container mt-4">
          <app-pokemon-types [pokemonTypeOne]="pokemonTypeOne" [pokemonTypeTwo]="pokemonTypeTwo"></app-pokemon-types>
        </div>
        <!-- POKEMON TYPES END -->

        <!-- BOTONES DER START -->
        <div class="center">
          <button type="button" class="btn btn-dark mt-5" (click)="openDetail()">Ver Puntos de Base</button>
        </div>
        <div class="center mt-4">
          <button type="button" class="btn btn-dark" routerLink="/pokemon/{{pokemonID}}">Ver Detalles</button>
        </div>
        <!-- BOTONES IZQ START -->
    </div>
    <!-- DERECHA END -->
	</div>
</section>
