.detail{
  background-color: #D30A40;
  border-radius: 35px;
  height: 500px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-weight: bold;
  font-family: 'Roboto Mono', monospace !important;
  margin-bottom: 0;
}


.left{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  height: 360px;
  width: 360px;
  text-align: center;
}

.types-container{
  display: flex;
  justify-content: center;
  height: 130px;
  width: 200px;
  background-color:#084035 ;
  border-radius: 10px;
}

.img-container{
  background-color: #084035;
  height: 360px;
  width: 360px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
