.detail{
  background-color: #D30A40;
  border-radius: 35px;
  height: 500px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.left{
  background-color: black;
}

.right{
  display: flex;
  align-items: center;
}

.img-container{
  background-color: #084035;
  height: 360px;
  width: 360px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
