.spinner{
  background-color: red;
  width: 15px;
  height: 15px;
}

.type{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.water{
  background-color: blue;
}

.poison{
  background-color: blueviolet;
}

.fire{
  background-color:orangered ;
}

.bug{
  background-color: seagreen;
}
