.form-section{
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}

.form-container{
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  width: 380px;
  padding: 40px 35px;
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form-container h3{
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
}

.form-container label{
  display: block;
  margin-top: 25px;
}

.form-container input{
  display: inline-block;
  height: 38px;
  width: 98%;
  padding-left: 5px;
  border:none;
}

::placeholder{
  color: rgb(43, 42, 42);
}

.bttn-mostrar{
  background-color: #e8f0fe;
  color: #080710;
  font-family: 'Roboto Mono', monospace !important;
  border-radius: 0px 5px 5px 0;
}

.form-container .bttn-iniciar{
  background-color: #e8f0fe;
  width: 100%;
  padding: 15px 0;
  color: #080710;
  font-family: 'Roboto Mono', monospace !important;
  font-size: 20px;
}
